<div class="booking-wrapper">

  <div class="booking-header">
    <h1>Hello, {{ userName }}</h1>
    <p>Your booking history and travel details</p>
  </div>
  <div class="filter-bar">
    <button [class.active]="filter==='ALL'" (click)="setFilter('ALL')">All</button>
    <button [class.active]="filter==='ACTIVE'" (click)="setFilter('ACTIVE')">Active</button>
    <button [class.active]="filter==='CANCELLED'" (click)="setFilter('CANCELLED')">Cancelled</button>
  </div>


  <div *ngIf="loading" class="loading">
    Loading bookings...
  </div>

  <div *ngIf="!loading && bookings.length===0" class="empty">
    No bookings found.
  </div>

  <div class="booking-list" *ngIf="!loading && bookings.length>0">
    <div class="booking-card" *ngFor="let booking of filteredBookings">

      <div class="card-top">
        <div>
          <h3>PNR: {{ booking.id }}</h3>
          <span class="status" [class.active]="booking.bookingStatus!=='CANCELLED'"
            [class.cancelled]="booking.bookingStatus==='CANCELLED'">{{ booking.bookingStatus }}</span>
        </div>
        <div class="date">
          {{ booking.journeyDate | date:'medium' }}
        </div>
      </div>

      <div class="card-body">
        <div class="info">
          <span>Seats</span>
          <strong>{{ booking.numberOfSeats }}</strong>
        </div>

        <div class="info">
          <span>Meal</span>
          <strong>{{ booking.mealPreference }}</strong>
        </div>

        <div class="info">
          <span>Selected Seats</span>
          <strong>{{ booking.selectedSeats.join(', ') }}</strong>
        </div>
      </div>

      <div class="card-footer">
        Booked on {{ booking.bookingTime | date:'medium' }}

        <button class="cancel-btn" *ngIf="booking.bookingStatus!=='CANCELLED'" (click)="openCancelModal(booking.id)">
          Cancel Booking
        </button>

        <span class=" cancelled-text" *ngIf="booking.bookingStatus==='CANCELLED'">
          Booking Cancelled
        </span>
      </div>


    </div>
  </div>

  <app-confirm-modal *ngIf="showModal" title="Cancel Booking" message="Are you sure you want to cancel this booking?"
    confirmText="Yes, Cancel" cancelText="Close" (confirm)="confirmCancel()" (cancel)="closeModal()">

  </app-confirm-modal>
  <div class="error-backdrop" *ngIf="showErrorDialog">
    <div class="error-dialog">
      <h3>Action Failed</h3>
      <p>{{ dialogErrorMessage }}</p>
      <button class="error-close-btn" (click)="showErrorDialog=false">
        Close
      </button>
    </div>
  </div>



</div>