<nav class="navbar">
  <div class="nav-logo">FlightApp</div>

  <ul class="nav-links">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/search" routerLinkActive="active">
        Flights
      </a>
    </li>

    <li>
      <a routerLink="/booking" routerLinkActive="active">
        Bookings
      </a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/profile" routerLinkActive="active">
        Edit Profile
      </a>
    </li>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login" class="nav-btn">
        Login
      </a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <a class="nav-logout" (click)="openLogout()">
        Logout
      </a>
    </li>
  </ul>

</nav>
<app-confirm-modal *ngIf="showLogoutModal" title="Logout" message="Are you sure you want to logout?"
  confirmText="Logout" cancelText="Cancel" (confirm)="confirmLogout()" (cancel)="cancelLogout()">
</app-confirm-modal>